.header {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--color-gray);
  color: var(--color-primary-blue);

  & nav {
    flex: 2;
    a {
      text-decoration: none;
      color: inherit;
    }
    h1 {
      margin: 0;
    }
  }

  & .loader {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    &__container {
      display: flex;
      border: 16px solid var(--color-light-gray);
      border-top: 16px solid var(--color-primary-blue);
      border-radius: 50%;
      animation: spin 1s linear infinite;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
