.search {
  display: flex;
  padding-right: 6.25rem;
  align-items: center;
  justify-content: flex-end;
  .search__filter {
    .search__counter,
    .search__input {
      padding: 0.25em 0.5em;
      border-radius: 4px;
    }
    .search__counter {
      background-color: var(--color-primary-blue);
      color: var(--color-white);
      font-weight: bold;
    }
    .search__input {
      font-size: 1.2em;
      border: 1px solid var(--color-gray);
      margin: 0.25em;
    }
  }
}
