.episodes__container {
  flex: 2;
  min-width: 20em;
  .episodes__counter {
    margin-bottom: 16px;
    text-align: left;
  }
  .episodes__list {
    text-align: left;
    th,
    td {
      padding: 0.5em;
      width: 100%;
      border-bottom: 1px solid var(--color-gray);
    }
    tbody {
      tr {
        height: 100%;
        &:nth-child(odd) {
          background-color: var(--color-light-gray);
        }
        .episode-item__link {
          cursor: pointer;
          color: var(--color-primary-blue);
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
